{{- define "main" }}

<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
        {{- partial "translation_list.html" . -}}
    </div>
    {{- end }}
</header>

<div id="searchbox">
    <p class="zisai-search-hint" id="searchHint">输入标题或正文中的关键词，寻找承德、生活与技术的故事。</p>
    <input aria-describedby="searchHint" id="searchInput" autofocus placeholder="{{ .Params.placeholder | default (printf "%s ↵" .Title) }}"
        aria-label="搜索文章" type="search" autocomplete="off" maxlength="64">
    <ul id="searchResults" aria-label="搜索结果" aria-live="polite"></ul>
</div>

{{- end }}{{/* end main */}}
