{{/*
============================================================
ZISAI.COM Schema.org JSON-LD
============================================================

实体统一 ID：

Person
https://zisai.com/#person

WebSite
https://zisai.com/#website

紫塞明珠网
https://zisai.com/#zisai

页面类型：

首页：
WebSite + Person + Organization

/about/：
ProfilePage + Person + Organization + WebSite

普通文章：
BlogPosting + Person + WebSite

============================================================
*/}}

{{- $personID := printf "%s#person" .Site.BaseURL -}}
{{- $websiteID := printf "%s#website" .Site.BaseURL -}}
{{- $zisaiID := printf "%s#zisai" .Site.BaseURL -}}

{{- $authorName := .Site.Params.authorName | default .Site.Params.author | default "沈楠" -}}
{{- $authorURL := .Site.Params.authorUrl | default (absURL "about/") -}}
{{- $authorDescription := .Site.Params.authorDescription | default .Site.Params.description -}}
{{- $authorJobTitle := .Site.Params.authorJobTitle | default "副总裁、CIO" -}}
{{- $authorImage := .Site.Params.authorSchemaImage | default .Site.Params.authorImage -}}
{{- $language := .Site.Language.Lang | default "zh-cn" -}}


{{/* ========================================================
   首页
   WebSite + Person + 紫塞明珠网
   ======================================================== */}}

{{ if .IsHome }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": {{ $websiteID | jsonify }},
      "url": {{ .Site.BaseURL | jsonify }},
      "name": {{ .Site.Title | jsonify }},
      "description": {{ .Site.Params.description | jsonify }},
      "creator": {
        "@id": {{ $personID | jsonify }}
      },
      "publisher": {
        "@id": {{ $personID | jsonify }}
      },
      "about": {
        "@id": {{ $zisaiID | jsonify }}
      },
      "inLanguage": {{ $language | jsonify }}
    },

    {
      "@type": "Person",
      "@id": {{ $personID | jsonify }},
      "name": {{ $authorName | jsonify }},
      "alternateName": [
        "Shen Nan",
        "Mythflair"
      ],
      "url": {{ $authorURL | jsonify }},
      "jobTitle": {{ $authorJobTitle | jsonify }},
      "description": {{ $authorDescription | jsonify }}
      {{- with .Site.Params.authorEmail }},
      "email": {{ printf "mailto:%s" . | jsonify }}
      {{- end }}
      {{- with $authorImage }},
      "image": {{ . | absURL | jsonify }}
      {{- end }},
      "sameAs": [
        {{- range $index, $url := .Site.Params.authorSameAs }}
          {{- if $index }},{{ end }}
          {{- $url | jsonify }}
        {{- end }}
      ],
      "worksFor": {
        "@type": "Organization",
        "name": "承德宽广控股集团有限公司",
        "url": "http://www.ikuanguang.com/"
      },
      "alumniOf": {
        "@type": "CollegeOrUniversity",
        "name": "樱美林大学",
        "alternateName": "J. F. Oberlin University"
      },
      "knowsAbout": [
        "通信网络",
        "互联网",
        "IDC",
        "ICT",
        "软件研发",
        "系统集成",
        "企业信息化",
        "零售数字化",
        "云计算",
        "云原生",
        "物联网",
        "大数据",
        "网络安全",
        "Go",
        "Python",
        "人工智能"
      ]
    },

    {
      "@type": "Organization",
      "@id": {{ $zisaiID | jsonify }},
      "name": "紫塞明珠网",
      "alternateName": [
        "紫塞网",
        "ZISAI"
      ],
      "url": {{ .Site.BaseURL | jsonify }},
      "foundingDate": "1998",
      "founder": {
        "@id": {{ $personID | jsonify }}
      }
    }
  ]
}
</script>


{{/* ========================================================
   About 页面
   ProfilePage + Person + 紫塞明珠网 + WebSite
   ======================================================== */}}

{{ else if eq .RelPermalink "/about/" }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "ProfilePage",
      "@id": {{ printf "%s#profilepage" .Permalink | jsonify }},
      "url": {{ .Permalink | jsonify }},
      "name": {{ .Title | jsonify }},
      "description":
        {{- with .Description }}
          {{ . | jsonify }}
        {{- else }}
          {{ .Summary | plainify | truncate 180 | jsonify }}
        {{- end }},
      "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
      "mainEntity": {
        "@id": {{ $personID | jsonify }}
      },
      "isPartOf": {
        "@id": {{ $websiteID | jsonify }}
      },
      "inLanguage": {{ $language | jsonify }}
    },

    {
      "@type": "Person",
      "@id": {{ $personID | jsonify }},
      "name": {{ $authorName | jsonify }},
      "alternateName": [
        "Shen Nan",
        "Mythflair"
      ],
      "url": {{ $authorURL | jsonify }},
      "jobTitle": {{ $authorJobTitle | jsonify }},
      "description": {{ $authorDescription | jsonify }}
      {{- with .Site.Params.authorEmail }},
      "email": {{ printf "mailto:%s" . | jsonify }}
      {{- end }}
      {{- with $authorImage }},
      "image": {{ . | absURL | jsonify }}
      {{- end }},
      "sameAs": [
        {{- range $index, $url := .Site.Params.authorSameAs }}
          {{- if $index }},{{ end }}
          {{- $url | jsonify }}
        {{- end }}
      ],
      "worksFor": {
        "@type": "Organization",
        "name": "承德宽广控股集团有限公司",
        "url": "http://www.ikuanguang.com/"
      },
      "alumniOf": {
        "@type": "CollegeOrUniversity",
        "name": "樱美林大学",
        "alternateName": "J. F. Oberlin University"
      },
      "knowsAbout": [
        "通信网络",
        "互联网",
        "IDC",
        "ICT",
        "软件研发",
        "系统集成",
        "企业信息化",
        "零售数字化",
        "云计算",
        "云原生",
        "物联网",
        "大数据",
        "网络安全",
        "Go",
        "Python",
        "人工智能"
      ],
      "subjectOf": {
        "@id": {{ printf "%s#profilepage" .Permalink | jsonify }}
      }
    },

    {
      "@type": "Organization",
      "@id": {{ $zisaiID | jsonify }},
      "name": "紫塞明珠网",
      "alternateName": [
        "紫塞网",
        "ZISAI"
      ],
      "url": {{ .Site.BaseURL | jsonify }},
      "foundingDate": "1998",
      "founder": {
        "@id": {{ $personID | jsonify }}
      }
    },

    {
      "@type": "WebSite",
      "@id": {{ $websiteID | jsonify }},
      "url": {{ .Site.BaseURL | jsonify }},
      "name": {{ .Site.Title | jsonify }},
      "description": {{ .Site.Params.description | jsonify }},
      "creator": {
        "@id": {{ $personID | jsonify }}
      },
      "publisher": {
        "@id": {{ $personID | jsonify }}
      },
      "about": {
        "@id": {{ $zisaiID | jsonify }}
      },
      "inLanguage": {{ $language | jsonify }}
    }
  ]
}
</script>


{{/* ========================================================
   普通文章页面
   BlogPosting + Person + WebSite
   ======================================================== */}}

{{ else if .IsPage }}

{{- $articleImage := "" -}}

{{- with .Params.cover.image }}
  {{- $articleImage = . | absURL -}}
{{- else }}
  {{- with .Site.Params.images }}
    {{- with index . 0 }}
      {{- $articleImage = . | absURL -}}
    {{- end }}
  {{- end }}
{{- end }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "BlogPosting",
      "@id": {{ printf "%s#article" .Permalink | jsonify }},
      "url": {{ .Permalink | jsonify }},
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": {{ .Permalink | jsonify }}
      },
      "headline": {{ .Title | jsonify }},
      "description":
        {{- with .Description }}
          {{ . | jsonify }}
        {{- else }}
          {{ .Summary | plainify | truncate 160 | jsonify }}
        {{- end }},
      "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}"
      {{- with $articleImage }},
      "image": [
        {{ . | jsonify }}
      ]
      {{- end }},
      "author": {
        "@id": {{ $personID | jsonify }}
      },
      "publisher": {
        "@id": {{ $personID | jsonify }}
      },
      "isPartOf": {
        "@id": {{ $websiteID | jsonify }}
      },
      "inLanguage": {{ $language | jsonify }}
      {{- with .Params.tags }},
      "keywords": [
        {{- range $index, $tag := . }}
          {{- if $index }},{{ end }}
          {{- $tag | jsonify }}
        {{- end }}
      ]
      {{- end }}
    },

    {
      "@type": "Person",
      "@id": {{ $personID | jsonify }},
      "name": {{ $authorName | jsonify }},
      "alternateName": [
        "Shen Nan",
        "Mythflair"
      ],
      "url": {{ $authorURL | jsonify }}
      {{- with $authorImage }},
      "image": {{ . | absURL | jsonify }}
      {{- end }},
      "jobTitle": {{ $authorJobTitle | jsonify }}
    },

    {
      "@type": "WebSite",
      "@id": {{ $websiteID | jsonify }},
      "url": {{ .Site.BaseURL | jsonify }},
      "name": {{ .Site.Title | jsonify }},
      "creator": {
        "@id": {{ $personID | jsonify }}
      },
      "publisher": {
        "@id": {{ $personID | jsonify }}
      },
      "inLanguage": {{ $language | jsonify }}
    }
  ]
}
</script>

{{ end }}